<h1><%= @restaurant.name %></h1>

<p>Bij De Pizzabakkers ben je altijd welkom om lekker te lunchen, borrelen of dineren. Het is een plek voor iedereen die van ambachtelijke Romeinse pizza's houdt en graag een glas prosecco drinkt. Maar niks chics hoor! We creëren graag een ontspannen sfeer, waarin iedereen zich thuis voelt. Jong, oud, buurtbewoners of mensen van verre. Bij De Pizzabakkers eet iedereen goed. Onze basis is Italiaanse pizza op haar best: in de houtoven gebakken, met verse ingrediënten bereid en met liefde gemaakt.

</p>

<h3>Restaurant information</h3>
<ul>
  <li><strong>Name: </strong><%= @restaurant.name %></li>
  <li><strong>Address: </strong><%= @restaurant.address %></li>
  <li><strong>Phone number:</strong> <%= @restaurant.phone_number %></li>
  <li><strong>Categories:</strong> <%= @restaurant.category %></li>
</ul>
<BR>
<%= link_to 'Back to all restaurants', restaurants_path %>
<BR><BR>
<h3>Reviews</h3>

<ul class="list-group">
  <% @restaurant.reviews.each do |restaurant| %>
  <p>
  <li class="list-group-item"><strong>Rating: </strong><%= restaurant.rating %></li>
  <li class="list-group-item"><strong>Review: </strong><%= restaurant.content %></li>
  </p>
  <% end %>
</ul>

<h3>Leave a review</h3>
<%= render 'form', review: @review %>
<BR><BR>
